*{
	margin: 0;
	text-decoration: none;
	padding-right: 0px;
	padding-left: 0px;

}

html, body{
	background-color: #f9f6f6;
	width: 100%;
	min-height: 70%;
	overflow-x: hidden;
}
/*Main Index and static style */
.navbar
{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important; 
    border-top: 0px !important; 
    padding: 0px !important;
    background-color: #000000;
    border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
#navbar-container{
	padding-left: 0px;
	padding-right: 0px;
}

#main-content{
	width: 100%;
	min-height: 70%;
}

#content-container{
	padding-top: 20px;
	padding-bottom: 30px;
	width: 75%;
	margin: auto;

}
#index-blog-posts{
	min-height: 30%;
	width: 100%;
}

#index-blog-posts{
	border-top: thick double #000;
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer{
	padding-top: 20px;
	width: 100%;
	min-height: 15%;
	background-color: #000000;
}
/*blog style content below*/
#blog-content-container{
	padding-top: 20px;
	padding-bottom: 30px;
	min-height: 77%;
	width: 60%;
	margin-left: 80px;
}

#blog-title{
	border-bottom: thick solid #000000;

}
#blog-sub-head{

}
#blog-body{
	margin-top: 20px;
	min-height: 40%;
}